<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>CRNotes web interface</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" media="screen" />
  <script type="text/javascript" src="js/require.js"></script>
</head>
<body>
  <div id="header">
    <h1>CRNotes web interface</h1>
    <p class="icons">
      powered by <a href="http://jquery.com/">jQUery</a><br />
      <a href="http://axialis.com/free/icons">Icons</a> by <a href="http://axialis.com">Axialis Team</a>
    </p>
    <p><%= userblock %></p>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">&nbsp;</div>
</body>
</html>

