<div class="description box">
  <p><b>CRNotes</b> is a simple web-based note-taking application.</p>
  <p class="ind">Free and Open Source</p>
  <p class="ind">Login with OpenID 2.0</p>
  <p class="ind">Clean user interface</p>
  <p class="ind">Managing multiple notes</p>
  <p class="ind">Deploy your own <a href="http://livoris.de/projects/crnotes">CRNotes Server</a></p>
</div>
<div class="login box">
  <form action="login" method="post">
    <p><b>Log in with</b></p>
    <p class="ind">
      <input type="radio" id="google" value="google" name="provider" />
      <label for="google"><img alt="Google" src="images/google.gif" /></label>
      <br />
      <input type="radio" id="yahoo" value="yahoo" name="provider" />
      <label for="yahoo"><img alt="Yahoo!" src="images/yahoo.gif" /></label>
    </p>
    <p class="ind">
      <input type="submit" id="submit" name="continue" value="Continue" />
    </p>
  </form>
</div>

