<div id="notelist" class="box">
  <ul>
    <% _.each(notes, function(note) { %>
      <li><a href="#note/<%= note.id %>"
         <% if (note.active) { %> class="active" <% } %> >
        <%= note.name %>
      </a></li>
    <% }); %>
  </ul>
  <input id="newnote" type="text" value="Add new note" />
</div>
<div id="editbox" class="box" />

